# tesla model files
p_teslaS/constant/triSurface/teslaModelS.stl filter=lfs diff=lfs merge=lfs -text
p_teslaS/documents/videos filter=lfs diff=lfs merge=lfs -text
p_teslaS/documents/teslaModelS.stl filter=lfs diff=lfs merge=lfs -text
